body {
    background-color: blue;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    text-align: center;
}
form {
    border-style: dashed;
}
.td {
    font-weight: bold;
}
